.all-reviews-box {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.review-individual {
  width: calc(90% - 4px);
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}
.review-header-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#review-header-avg-stars {
  padding-right: 10px;
}
#spot-show-small-images {
  width: 50%;
}
.main-preview-image {
  width: 50%;
}
#spot-show-image-container {
  display: flex;
  flex-direction: row;
}
.small-preview-img {
  width: 48%;
  height: 48%;
  padding: 5px;
}
