.all-reviews-box {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.review-individual {
  width: calc(90% - 4px);
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}
.review-header-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#review-header-avg-stars {
  padding-right: 10px;
}
#spot-show-small-images {
  width: 50%;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}
.main-preview-img {
  width: 100%;
  height: auto;
}
#spot-show-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.small-preview-img {
  width: 48%;
  height: auto;
  padding: 2px;
}
.preview-image-div {
  width: 50%;
}
.below-images-div {
  display: flex;
  flex-direction: row;
}
.review-text-div {
  width: 70%;
}
.review-info-div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
.reserve-button-div {
  flex-direction: row;
  display: flex;
  padding-right: 5px;
}
#reserve-button-id {
  padding: 5px;
  margin: 6px;
}
.stars-render-above-reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.star-label {
  padding-right: 5px;
}
#review-header-num-reviews {
  display: flex;
  align-items: center;
}
.review-header-div {
  display: flex;
  justify-content: left;
}
