.stars {
  display: flex;
  justify-content: center;
}
.star-map {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 0px;
  padding-right: 7px;
}
.star-map {
  display: flex;
  align-items: center;
}

.star-map .empty-star {
  cursor: pointer;
  color: lightgrey;
  margin-right: 5px;
}

.star-map .star-filled {
  cursor: pointer;
  color: gold;
  margin-right: 5px;
}
