.preview-img {
  height: 300px;
}

#spots-box {
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#spots-indv {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}
