.preview-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

#spots-box {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#spots-indv {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;

  margin-bottom: 20px;
}

.spot-tile {
  width: 21%;
  margin-top: 0;
  margin-bottom: 10px;
}
.spot-tile:hover {
  width: 21%;
  margin-top: 0;
  margin-bottom: 10px;
}

.spot-name {
  margin-top: 0;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spot-name-tooltip:hover .spot-name-tooltip-text {
  visibility: visible;
  opacity: 1;
}

.spot-name-tooltip .spot-name-tooltip-text {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 75%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.spot-name-tooltip {
  position: relative;
}
