.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navlinksdiv {
  display: flex;
  justify-content: right;
  list-style-type: none; /* Remove default bullet points */
}
#homebutton {
  padding-right: 100px;
}

#faviconlogo {
  height: 40px;
}
.headbar {
  display: flex;
  justify-content: space-between;
}
logodiv {
  display: flex;
  justify-content: left;
}
#homebutton {
  padding-right: 15px;
}
