.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none; /* Remove default bullet points */
}
#homebutton {
  padding-right: 100px;
}
